<style>
    .story-card-image.mdl-card {
        width: 512px;
        margin: 0 auto;
    }
</style>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="story-card-image mdl-card mdl-shadow--2dp">
            <script async type="text/javascript-lazy" src="https://static.medium.com/embed.js"></script><a class="m-story" data-collapsed="true" href="https://medium.com/@davidpoxon/creating-ginger-part-1-lexicon-grammar-4fa81d6929aa">Creating Ginger: Part 1 — Lexicon & Grammar</a>
        </div>
    </div>
</div>